# Keywords in Python

a = 23 - int (any number without decimal)
b = 45.7 - float (any number with decimal)
c = "example" - str (contains characters, numbers and symbol)
d = True / False - Boolean
e = [1, 2, 3, False, "Example"] - list
f = (4, 5.6, True, "Example") - tuple
g = {key1: value1, key2: value2, ...} - dict
h = {value1, value2, value3, ...} - set will store only unique values

In [1]:
a={
    "name":"Anjali",
    "age":22,
    "education":"BSC-IT"
}

In [2]:
type(a)

dict

In [3]:
a.keys()

dict_keys(['name', 'age', 'education'])

In [4]:
a.values()

dict_values(['Anjali', 22, 'BSC-IT'])

In [5]:
for key,value in a.items():
    print(f"{key}: {value}")

name: Anjali
age: 22
education: BSC-IT

In [8]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [9]:
function(name="Sarthak", age=23)

{'name': 'Sarthak', 'age': 23}
<class 'dict'>
name : Sarthak
age : 23

In [10]:
function(emp_id=101, name="Aditi", dept="HR", married=True)

{'emp_id': 101, 'name': 'Aditi', 'dept': 'HR', 'married': True}
<class 'dict'>
emp_id : 101
name : Aditi
dept : HR
married : True

# Example consider a restauraunt menu, condier menu is provided with taxes included in a dictionary

In [7]:
menu ={
    "burger":120,
    "pasta":200,
    "pizza":300,
    "fries":60,
    "sandwich":80
}

In [8]:
menu.get("burger")

120

In [9]:
print(menu.get("maggie"))

None

hotel_bill(table_no=1, burgers=3, sandwich=2, fries=1)

In [10]:
def hotel_bill(table_no,**kwargs):
    # Print table number
    print(f"Table number-{table_no}")
    #Intialize total amount to 0
    amt = 0
    # Apply for loop on kwargs
    for food,qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal = price*qty
            amt +=subtotal
            print(f"food item - {food}, qty-{qty},price-{price} INR,subtotal-{subtotal}")
    # show the final bill
    print(f"final Bill is:{amt} INR")
    return amt

In [12]:
c1=hotel_bill(
    table_no=1,
    burger=2,
    pizza=2
)

Table number-1
food item - burger, qty-2,price-120 INR,subtotal-240
food item - pizza, qty-2,price-300 INR,subtotal-600
final Bill is:840 INR

In [13]:
c2=hotel_bill(
    table_no=3,
    pizza=1,
    sandwich=2
)

Table number-3
food item - pizza, qty-1,price-300 INR,subtotal-300
food item - sandwich, qty-2,price-80 INR,subtotal-160
final Bill is:460 INR